
.menu-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.menu-container h2 {
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
}


.menu-container ul {
    list-style-type: none;
    padding: 0;
}


.menu-container li {
    margin-bottom: 10px;
}


.menu-container a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.menu-container a:hover {
    color: #0056b3;
}
